body, html {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

*:focus {
outline: 0;
outline: none;
}

.container-flex {
    display: flex;
}

.box {
  /* Optional: ensures boxes grow to fill the container equally */
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

.main-map {
  display: flex;
  height: 100vh;
}


#benefit-info {
  flex: 1;
  font-family: 'Raleway', sans-serif;
  overflow: scroll;
  min-width: 312px;
}


#benefit-info h3, h4 {
  text-align: center;
}

#benefit-info h3 {
  margin: 0;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 16px;
  text-align: left;
}
#benefit-info h3 {
  padding: 20px;
  padding-bottom: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
}

#benefit-info p {
  padding-left: 10px;
  padding-right: 10px;
}


#infoContainer {
  display: flex;
  overflow: scroll;
}

.search_label {
  font-weight: bold;
  margin-bottom: 3px;
}


#mapContainer {
  flex: 3.5;
  /* height: 90vh; */
}
