body, html {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

*:focus {
outline: 0;
outline: none;
}

.container-flex {
    display: flex;
}

.box {
  /* Optional: ensures boxes grow to fill the container equally */
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

.main-map {
  display: flex;
}

#benefit-info {
  flex: 1;
  border: 1px solid black;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  overflow: hidden;
  min-width: 312px;
  order: 1;
}


#benefit-info h3, h4 {
  text-align: center;
}

#benefit-info h3 {
  margin: 0;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 16px;
  text-align: left;
}
#benefit-info h3 {
  padding: 20px;
  padding-bottom: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
}

#benefit-info p {
  padding-left: 10px;
  padding-right: 10px;
}


#infoContainer {
  display: flex;
}

#lot-info::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#lot-info::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#lot-info::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
#lot-info::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.search_label {
  font-weight: bold;
  margin-bottom: 3px;
}

.actions {
  padding: 0px 10px 0px 10px;
}

#resetBtn {
  font-size: 12px;
  float: right;
  margin-top: 5px;
}

#mapContainer {
  flex: 3.5;
  height: 100vh;
}
